{% extends 'base-admin.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('Admin/users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin-users-index') }}" class="btn btn-primary">back to list</a>

    {{ include('Admin/users/_delete_form.html.twig') }}
{% endblock %}
