{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">Total Articles</th>
            <td>{{ articles_total }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}